{:production true
 :port 3030}
 ;;:pubkey ".keys/public.pem"
 ;;:privkey ".keys/private.pem"
 ;;:datph ".keys/dat.ph"}
 ;;:allowed-domains [#""]
 ;;:ldap-settings {:address         ""
 ;;                :port            389
 ;;                :connect-timeout (* 1000 5)
 ;;                :timeout         (* 1000 30)}}
