{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :pubkey "resources/.keys/public.pem"
 :privkey "resources/.keys/private.pem"
 :datph "resources/.keys/dat.ph"}
 ;;:allowed-domains [#""]
 ;;:ldap-settings {:address         ""
 ;;                :port            389
 ;;                :connect-timeout (* 1000 5)
 ;;                :timeout         (* 1000 30)}}
