{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000}
 :keyfiles {:keydir "resources/.keys"
            :pubkey "public.pem"
            :privkey "private.pem"}
 ;;:allowed-domains [#""]
 ;;:ldap-settings {:address         ""
 ;;                :port            389
 ;;                :connect-timeout (* 1000 5)
 ;;                :timeout         (* 1000 30)}}
